/* CSS BY DAVID KALARICKAL */

/* IMPORTED FONTS*/
/* IMPORT "INTER" FROM GOOGLE FONTS"
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ROOT VARIABLES */
:root {
    --blue: #007BFF;
    --red: #FF4500;
    --white: #EAEAEA;
    --black: #000000;
    --charcoal: #333333;
    --font: "Inter", sans-serif;
}

/* GLOBAL STYLES (MOBILE FIRST (SMALL) */

body{
    font-family: "Inter", sans-serif;
}

h1{
    font-size: 2.5rem;
    font-weight: bold;
    position: relative;
    left: 40px;
}

h2{
    font-size: 2rem;
    font-weight: bold;
}

h3{
    font-size: 1.4rem;
    font-weight: bold;
}

/* ADD FLOATING SVG LOGO BEFORE THE H1 */
h1::before {
    position: absolute;
    content: "";
    left:-3.5rem;
    width: 3.75rem;
    height: 3.75rem;
    background: url('images/vanguard-logo.svg') no-repeat center/contain;
}

header #navigation{
    background-color: var(--black);
    color: var(--blue);
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    padding: 40px;
}

header #navigation a{
    text-decoration: none;
    color: var(--blue);
}

/* MIN-WIDTH OF THE PAGE SHOULD NOT GO BELOW 400PX */

/* ADD A DIV WITH THE CLASS OF CONTAINER TO EVERY CONTENT CONTAINER THIS IS ALLOW THE BASE ELEMENTS TO BE 100% WIDTH, BUT CONSTRAIN THE ACTUAL CONTENT TO 90% */
.container {
    width: 90%;
    max-width: 1200px;
    min-width: 400px;
    margin: 0 auto;
}

/* ADD TO "INNOVATION & INVESTMENT SECTION (Photo by Kevin Matos on Unsplash) */
#banner{
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('images/vanguard-hero.jpg') no-repeat center center/cover;
    height: 80vh;
    display: grid;
    place-items: center;
    text-align: center;
    padding: 1rem;
    overflow: hidden;
    /* width: 100%; */
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    align-content: center;
    justify-content: center;
    color: var(--white);
}


#banner div{
    margin: 20px;
    backdrop-filter: blur(10px);
}

#banner h2{
    padding-bottom: 20px;
    padding-top: 30px;
}

#banner p{
    padding-bottom: 10px;
    line-height: 25px;
}

#banner button{
    padding: 20px;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: var(--blue);
    color: var(--white);
    border: none;
}

#intro{
    margin-top: 20px;
    margin-bottom: 20px;
}

#intro h2{
    padding: 15px;
}

#intro p{
    line-height: 25px;
}

#offer{
    margin-bottom: 30px;
    margin-top: 20px;
}

#offer .container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-areas: 
    'offer-heading'
    'growth'
    'investment'
    'acceleration'
    'transformation'
    'exclusive'
    'corporate'
    ;
    gap: 20px;
}

#offer h2{
    grid-area: offer-heading;
    padding: 15px;
}

#offer #growth{
    grid-area: growth;
}

#offer #investment{
    grid-area: investment;
}

#offer #acceleration{
    grid-area: acceleration;
}

#offer #transformation{
    grid-area: transformation;
}

#offer #exclusive{
    grid-area: exclusive;
}

#offer #corporate{
    grid-area: corporate;
}

#offer .container div{
    background-color: var(--blue);
    color: var(--white);
    padding: 20px;
    border-radius: 10px;
}

#offer .container div h3{
    padding: 10px;
}

#offer .container div p{
    line-height: 25px;
}

#results{
    margin-top: 50px;
    padding-bottom: 20px;
    background-color: var(--blue);
    color: var(--white);
}

#results .container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: 'head' 'content';
}

#results .container h2{
    padding: 15px;
    padding-top: 30px;
}

#results #results-head p{
    line-height: 25px;
}

#results #results-head {
    grid-area: head;
}

#results-container{
    grid-area: content;
}

#results .results-container h3{
    padding: 15px;
}

#results .results-table{
    background-color: var(--black);
    margin: auto;
    table-layout: fixed;
}

#results .results-table th, #results .results-table td{
    padding: 20px;   
    border: 0.5px solid var(--charcoal);
}

/* THIS ONE IS DONE FOR YOU */
#bar-chart {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: flex-end;
    justify-content: space-around;
    gap: 1rem;
    height: 300px;
    width: 100%;
    max-width: 800px;
    padding: 1rem;
    position: relative;
}
/* ADD ON TRANSITION ON HEIGHT */
.bar {
    width: 50px;
    background: var(--charcoal);
    border-radius: 10px;
    position: relative;
    transition: height 1s;
    height: 0;
}
/* THIS ONE IS DONE FOR YOU */
.bar::after {
    content: attr(data-year);
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    font-weight: bold;
    color: var(--white);
}
@keyframes stepUp {
    0% {
        height: 0;
    }
    100% {
        height: var(--height);
    }
}
/* ADD ANIMATION ON stepUp for 1s ease-in-out forwards */
.bar {
    animation: stepUp 1s ease-in-out forwards;
}

footer{
    background-color: var(--black);
    color: var(--white);
}

#contact-us{
    padding-top: 15px;
    border: none;
    padding-bottom: 15px;
}

#contact-us h2{
    padding: 15px;
}

#contact-us p{
    line-height: 25px;
}

#contact-us form{
    padding-top: 15px;
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-columns: auto;
    gap: 20px;
}

#contact-us form div{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
}

#contact-us form input[type=text], #contact-us form input[type=email]{
    padding: 10px;
    border: 3px solid var(--blue);
}

#contact-us form textarea{
    border: 3px solid var(--blue);
}

#contact-us form input[type=submit]{
    padding: 15px;
    border-radius: 5px;
    background-color: var(--blue);
    color: var(--white);
    font-weight: bold;
    border: none;
}

footer #site-end{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
    justify-content: center;
    text-align: center;
    padding: 20px;
    gap: 5px;
}

/* MEDIA QUERY (medium) */

@media screen and (min-width: 800px) {
    #offer .container{
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
        'offer-heading offer-heading'
        'growth investment'
        'acceleration transformation'
        'exclusive corporate'
        ;
    }

    
    .results-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .bar-chart {
        width: 50%;
    }
}

/* MEDIA QUERIES (LARGE) */

@media screen and (min-width: 1024px) {
    #offer .container{
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        'offer-heading offer-heading offer-heading'
        'growth investment acceleration'
        'transformation exclusive corporate'
        ;
    }
    
    #contact-us form{
        grid-template-columns: auto auto;
        grid-row: auto auto auto;
    }
}
